h1 {
    color: green;
    text-align: center;
}

body {
    font-family: helvetica, arial, sans-serif;
}
#left-container {
    background-color: #eee;
    width: 15%;
    left: 0%;
    top: 0%;
    position: relative;
    height: 100%;
    padding: 15%;
    }
#right-container {
    background-color: #eee;
    width: 15%;
    right: 0%;
    top: 0%;
    position: relative;
    padding: 10%;
    }
.main-container {
    display: flex;
    flex-grow: 1;
    background-color: #eee;
}
    
.container {
    background-color: #eee;
    width: 15%;
    top: 0%;
    position: relative;
    height: 100%;
    padding: 10%;
    }
.plant-holder {
    position: relative;
    height: 10%;
    left: -10%;
    }
.plant {
    position: relative;
    max-width: 80%;
    max-height: 100%;
    z-index: 2;
    }
.jar-walls {
    height: 80%;
    width: 50%;
    background: #d1e1df;
    border-radius: 1rem;
    position: relative;
    bottom: 0.5%;
    left: 20%;
    opacity: 0.5;
    z-index: 1;
    }
.jar-top {
    width: 50%;
    height: 5%;
    background: #d1e1df;
    position: relative;
    bottom: 80.5%;
    left: 25%;
    opacity: 0.7;
    z-index: 1;
    }
.jar-bottom {
    width: 50%;
    height: 1%;
    background: #d1e1df;
    position: relative;
    bottom: 0%;
    left: 25%;
    opacity: 0.7;
    }
.dirt {
    width: 60%;
    height: 5%;
    background: #3a241d;
    position: relative;
    border-radius: 0 0 1rem 1rem;
    bottom: 1%;
    left: 20%;
    opacity: 0.7;
    z-index: -1;
    }
div {
    width: 200px;
    height: 100px;
    padding: 10px;
    border: 2px solid black;
    margin: 6px;
    }
    